[submodule "src/Gml.Client"]
	path = src/Gml.Client
	url = https://github.com/Nik497926/Gml.Client.git
[submodule "src/GamerVII.Notification.Avalonia"]
	path = src/GamerVII.Notification.Avalonia
	url = https://github.com/Nik497926/GamerVII.Notification.Avalonia.git
