[submodule "src/Gml.Client"]
	path = src/Gml.Client
	url = https://github.com/vladglass0/Gml.Client.git
[submodule "src/GamerVII.Notification.Avalonia"]
	path = src/GamerVII.Notification.Avalonia
	url = https://github.com/vladglass0/GamerVII.Notification.Avalonia.git
